<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">CineMuz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/filmes/">Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/salas/">Salas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/sessoes/">Sessões</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/ingresso/">Ingressos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/funcionarios/">Funcionários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/relatorios/">Relatórios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/precos/">Gerenciar Preços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/painel/">Painel de Controle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/">Administração</a>
            </li>
        </ul>
    </div>
</nav>
