{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-4">Lista de Salas</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Capacidade</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for sala in salas %}
                <tr>
                    <td>{{ sala.nome }}</td>
                    <td>{{ sala.capacidade }}</td>
                    <td>{{ sala.tipo }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Nenhuma sala cadastrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
