{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="mt-4">Snacks e Combos</h2>
        <div class="row">
            {% for snack in snacks %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ snack.nome }}</h5>
                            <p class="card-text">{{ snack.descricao }}</p>
                            <p class="font-weight-bold">Preço: R$ {{ snack.preco }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Nenhum snack disponível no momento.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
